<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">

        <!-- Personal Info Header -->
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus Dados:</p>
        </div>

        <div class="col-xs-12 col-sm-3">
            <span *ngIf="orderForm.hasError('emailsNotMatch')" class="help-block pull-right has-error-block"><i class="fa fa-remove"></i> Emails não conferem</span>
        </div>

        <!-- Name Input -->
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo Obrigatório" label="Nome">
            <input class="form-control" id="inputSuccess" placeholder="Nome" type="text" formControlName="name" autocomplete="off">
          </mt-input-container>
        </div>

        <!-- Email Input -->
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Email inválido" label="Email">
            <input class="form-control" id="inputSuccess" placeholder="Email" type="text" formControlName="email" autocomplete="off">
          </mt-input-container>
        </div>

        <!-- Email Confirmation Input -->
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Email inválido" label="Confirmação do Email">
            <input class="form-control" id="inputSuccess" placeholder="Confirmação do Email" type="text" formControlName="emailConfirmation"
            autocomplete="off">
          </mt-input-container>
        </div>

      </div>


      <div class="row">

        <!-- Adress Info Header -->
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>

        <!-- Adress Input -->
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo Obrigatório e com 5 caracteres" label="Endereço">
            <input class="form-control" id="inputSuccess" placeholder="Endereço" type="text" formControlName="adress" autocomplete="off">
          </mt-input-container>
        </div>

        <!-- Number Input -->
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Obrigatório e apenas números" label="Número">
            <input class="form-control" id="inputSuccess" pattern="^[0-9]*$" placeholder="Número" type="text" formControlName="number"
            autocomplete="off">
          </mt-input-container>
        </div>
        
        <!-- Optional Input -->
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Campo Obrigatório" label="Complemento">
            <input class="form-control" id="inputSuccess" placeholder="Complemento" type="text" formControlName="optional"
            autocomplete="off">
          </mt-input-container>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>

        <mt-order-items [items]="cartItems()" (increaseQtd)="increaseQtd($event)" (decreaseQtd)="decreaseQtd($event)"
          (remove)="remove($event)">
        </mt-order-items>

      </div>

      <div class="row">
        
        <!-- Payment Division -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>
          <div class="form-group">
            <!-- Group Radio Options -->
            <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
          </div>
        </div>

        <!-- Values Division -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs [itens]="cartItems()" [delivery]="deliveryValue()"></mt-delivery-costs>
        </div>

      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="checkOrder(orderForm.value)" [disabled]="!orderForm.valid || cartItems().length === 0" href="order-summary.html"
          class="btn btn-success pull-right"><i class="fa fa-credit-card"></i>
          Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>